 .Info{
   color: red;
   
   border: 1px solid black;
   width: 50%;
   height:100%;
   padding: 1%;

 }
 .main{
   display: flex;
   flex-direction: row;
   padding: 2%;
   justify-content: space-between;
    
 }

 .addData{

  margin-left: 4%;

 }

 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}