<html>
    <title>
        Home Page
    </title>
<body>

    <form style="display: flex; flex-direction: column;" >
       
        <label>Name</label>
        <input type="text" name="Name" required="true">
       
        <label>College</label> 
       <input type="text" name="college" required="true">

       <label>status</label> 
       <input type="text" name="status" required="true">


       <label>DSA Score</label> 
       <input type="text" name="dsa" required="true">

       <label>WebD Score</label> 
       <input type="text" name="web" required="true">


       <label>React Score</label> 
       <input type="text" name="react" required="true">



       <label>Interview</label>
       <label>company Name</label> 
       <input type="text" name="companyname" required="true">


       <input type="submit" value="submit">

    </form>




</body>
</html>