<html>

<body>
     
        <form action ="/emp/signup" method="post" >
           <input type="text" name="email" >
               </input> 
 
               Name <input type="text" name="designation" >
               </input> 
 

               Designation<input type="text" name="Designation" >
               </input> 
 
               Password<input type="password" name="password" >
               </input> 
 
               <input type="submit" value="submit" >
               </input> 
            </form> 
         </body>
         
     
</html>